* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Tahoma;
}

.tabs {
    width: 20%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.tabs::after {
    content: '';
    position: absolute;
    top: 3.5%;
    transition: 0.6s;
    border: 17px solid;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
    transform: translate(-3px);
}

.tabs:hover::after {
    content: '';
    position: absolute;
    top: 13%;
    margin-top: 20px;
    border: 17px solid;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
    transition: 0.6s;
    transform: translate(-3px);
}

.tabs:hover li {
    display: block;
}

.tabs li:hover {
    transform: scale(1.2);
}

li {
    border-radius: 50%;
    list-style: none;
    border: 2px solid white;
    width: 20%;
    height: 55%;
    transition: 0.6s;
    display: none;
    background-color: aqua;
    cursor: pointer;
    opacity: 0.3;
}

ul li:first-child{
    background-color: rgb(255, 75, 75);
}

ul li:nth-child(2) {
    background-color: rgb(40, 176, 255);
}

ul li:nth-child(3){
    background-color: rgb(0, 255, 55);
}

ul li:last-child {
    background-color: rgb(255, 44, 248);
}

.active {
    opacity: 100;
}

li#back {
    background-color: rgb(255, 75, 75);
    width: 300px;
    margin: 100px auto;
    height: 300px;
    opacity: 100;
    display: block;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 10px 5px rgb(168, 168, 168);
}